<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Baat Cheet is an anonymous chat app">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= title %></title>
  <%- include('head_imports'); %>
</head>

<body>
  <%- include('user', {title: title}); %>
  <div class="wrapper">
    <div class="app-container">
      <div id='toast-wrapper' class="toast-wrapper" aria-live="polite" aria-atomic="true"></div>
      <div class="left">
        <div class="form-group mb-0 px-3 pt-4">
          <input type="text" id="searchId" placeholder="Search..." class="searchtext form-control" />
          <hr class="mb-0" />
        </div>
        <!-- Overflow style div -->
        <div class="room-list">
          <div class="card-columns m-2" name="people">
            <div class="card active person" data-chat="lobby" id="lobby" onclick="showRoom(this)">
              <div class="card-body">
                <h5 class="card-title name">Lobby</h5>
                <p class="card-text preview">Central Lobby</p>
              </div>
            </div>
          </div>
          <div class="card m-2">
            <div class="card-body text-center" data-toggle="modal" data-target="#newRoomModal">
              <p class="card-text mb-0">
                <a class="text-primary icon" id="newRoom">
                  <i class="fas fa-plus-circle"></i>
                </a>
              </p>
              <p class="card-text text-primary"><small>Click to add new Room</small></p>
            </div>
          </div>
          <button class="sidebar-btn btn btn-primary btn-group btn-lg" type="button" onclick="SidebarToggle()">
            <i id="toggle-icon" class="fa fa-angle-right"></i>
          </button>
        </div>
      </div>
      <div class="right active" id="lobby-msg" data-joined="1">

        <div class="top" data-chat="person1">
          <center id="online"><span>Lobby</span></center>
          <center><button class="btn btn-sm p-0" onclick="collap('lobby')"><span></span></button></center>
        </div>
        <div class="Participants">
          <center>
            <h2>Participants</h2>
          </center>
          <span></span>
        </div>
        <div class="chat" data-chat="person1">

        </div>
        <div class="input-group write">
          <textarea type="text" class="textarea form-control" placeholder="Message to lobby..." data-active="lobby" rows="2"></textarea>
          <div class="input-group-append">
            <button class="btn smiley text-primary" type="button">
              <i class="far fa-smile icon"></i>
              <ul id="emobox" class="emobox"></ul>
            </button>
            <button class="btn send text-primary" type="button">
              <i class="fas fa-paper-plane icon"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="error jumbotron text-center"></div>

    </div>
  </div>
  <%- include('modal'); %>
</body>
<footer>
  <%- include('footer_imports'); %>
</footer>
</html>
